<section id="register-wrapper" class="p-3 shadow-lg">
    <header class="text-center">
        <h2>Register</h2>
    </header>
    <form action="">
        <div class="form-group py-1">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" placeholder="Enter First Name" />
        </div>
        <div class="form-group py-1">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" />
        </div>
        <div class="form-group py-1">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Enter Email Address" />
        </div>
        <div class="form-group py-1">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" />
        </div>
        <div class="py-2">
            <button class="btn btn-primary">Register</button>
        </div>
    </form>
    <div>
        <a routerLink="/login">please log in</a>
    </div>
</section>